<div *ngIf="visualizzaFormElenco">
  <button (click)="cambiaVisualizzazione()" mat-raised-button color="primary">Aggiungi Libro</button>
</div>
  
<div *ngIf="!visualizzaFormElenco">
  <button (click)="cambiaVisualizzazione()" mat-raised-button color="primary">Annulla</button>
</div>

<!-- <app-elenco [elencoLibri]="elencoLibri" *ngIf="visualizzaFormElenco; else casoFalso"> -->
<app-elenco [elencoLibri]="this.datiService.getLibri()" *ngIf="visualizzaFormElenco; else casoFalso">
</app-elenco>


<ng-template #casoFalso>
  <app-form (submitEvent)="inserisciLibro($event)">
  </app-form>
</ng-template>