<div *ngIf="visualizzaFormElenco; else casoFalso">
  <div>
    <button (click)="cambiaVisualizzazione()" mat-raised-button color="primary">Visualizza Elenco Libri</button>
  </div>
  <br>

  <h3>Azioni per ID</h3>
 
  <form [formGroup]="formRicerca" (ngSubmit)="getJsonById()">
    <input type="number" formControlName="id" min="1" placeholder="Inserisci numero ID">

    <button type="submit">Cerca libro per ID</button>
    
  </form>
    <button (click)="delJsonById()">Elimina libro per ID</button>
    <button (click)="updateJsonById()">Modifica libro per ID</button>
  


  <div *ngIf="visualizzaLibroCercato">

  </div>

  <div *ngIf="visualizzaFormModifica">
    <form [formGroup]="formModifica" (ngSubmit)="confermaModifiche()">
      <hr>
      <h3>Modifica libro</h3>
      ID: <input type="number" [disabled]="true" formControlName="id">
      Titolo: <input type="text" formControlName="titolo">
      Autore: <input type="text" formControlName="autore">
      Prezzo Copertina: <input type="number" formControlName="prezzoCopertina">
      <button type="submit">Conferma</button>
      <button (click)="cambiaVisualizzazioneFormModifica()">Indietro</button>
    </form>
  </div>

  
  <hr>
  <h3>Aggiunta Libro</h3>


  
  <ng-template #casoFalsoAggiunta>
    <button (click)="cambiaVisualizzazioneFormAggiunta()">Inserisci Libro</button>
  </ng-template>

  
  <div *ngIf="visualizzaFormAggiunta; else casoFalsoAggiunta">
    <form [formGroup]="formAggiunta" (ngSubmit)="confermaInserimento()">
      Titolo: <input type="text" formControlName="titolo">
      Autore: <input type="text" formControlName="autore">
      Prezzo Copertina: <input type="number" formControlName="prezzoCopertina">
      <button type="submit">Conferma</button>
      <button (click)="cambiaVisualizzazioneFormAggiunta()">Indietro</button>
    </form>
  </div>  
</div>





<ng-template #casoFalso>
  <button (click)="cambiaVisualizzazione()" mat-raised-button color="primary">Indietro</button>
  <hr>
  <div *ngFor="let j of json$ | async">
    Id: {{j.id}}
    <br>
    User ID: {{j.titolo}}
    <br>
    Title: {{j.autore}}
    <br>
    Completed: {{j.prezzoCopertina}}
    <hr>
  </div>
</ng-template>




















<!-- <div *ngIf="visualizzaFormElenco">
  <button (click)="cambiaVisualizzazione()" mat-raised-button color="primary">Aggiungi Libro</button>
</div>
  
<div *ngIf="!visualizzaFormElenco">
  <button (click)="cambiaVisualizzazione()" mat-raised-button color="primary">Annulla</button>
</div>

<app-elenco [elencoLibri]="elencoLibri" *ngIf="visualizzaFormElenco; else casoFalso">
<app-elenco [elencoLibri]="this.datiService.getLibri()" *ngIf="visualizzaFormElenco; else casoFalso">
</app-elenco>


<ng-template #casoFalso>
  <app-form (submitEvent)="inserisciLibro($event)">
  </app-form>
</ng-template> -->